git+https://github.com/botswana-harvard/edc-base.git
git+https://github.com/botswana-harvard/django-crypto-fields.git
git+https://github.com/erikvw/django-revision.git
git+https://github.com/botswana-harvard/edc-constants.git
git+https://github.com/botswana-harvard/edc-device.git
git+https://github.com/botswana-harvard/edc-identifier.git
git+https://github.com/botswana-harvard/edc-search.git
git+https://github.com/botswana-harvard/edc-protocol.git
git+https://github.com/botswana-harvard/edc-model-admin.git
git+https://github.com/botswana-harvard/edc-form-validators.git
git+https://github.com/botswana-harvard/edc-registration.git
django-tz-detect
django-rest-framework
django-nose